.carousel{
  width:300px;
  margin:50px auto;
  position:relative;
}

.viewport{
  width:300px;
  overflow:hidden;
  border:1px solid black;
}

.track{
  display:flex;
 
}

.slide{
  flex:0 0 300px;
  height:200px;
  
  display:flex;
  align-items:center;
  justify-content:center;

  font-size:40px;
  background:lightgray;
}

/* 버튼 */

button{
  position:absolute;
  top:90px;
}

.prev{
  left:-40px;
}

.next{
  right:-40px;
}

/* 인디케이터 */

.indicator{
  text-align:center;
  margin-top:10px;
}

.dot{
  display:inline-block;
  width:10px;
  height:10px;
  background:gray;
  border-radius:50%;
  margin:5px;
}

.active{
  background:black;
}