<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>partice_float</title>
    <style>
        .float p {
            border: 1px solid red;
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 100px;
            
        }
        .left {
            float: left;
        }
        .right {
            float: right
        }
        .clearFix::after {
            content: "";
            display: block;
            clear: both;
        }
    </style>
</head>
<body>

    <section class="float clearFix">
        1234
        <p class="left">1</p>
        <p class="left">2</p>
        <p class="right">3</p>
        <p class="right">4</p>
        <p class="right">5</p>
    </section>
    <div class="left">23123</div>
</body>
</html>