<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- js import by phi S-->
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/common.js"></script>
    <!-- js import by phi E-->
    <script>
        
    </script>
</head>

<body>
    <!-- top header phi S-->
    <div id="header">Top Header</div>
    <!-- top header phi E-->
    <div>
        <div id="lnb">
            <!--left Menu phi S-->
            좌측 메뉴입니다.
            <!--left Menu phi E-->
        </div>
        <div>
            <!-- contents phi S-->
            안녕!!!
            <!-- contents phi E-->
        </div>
    </div>
</body>

</html>