/* 팝업창 기능 구현 */
.wrapper {
  position: relative;
}

.popup {
  position: absolute;
  top: 40px;
  left: 0;
  width: 200px;
  height: 150px;
  background: lightgray;
  border: 1px solid black;
  display: none;
}

#pNumber:hover {
    cursor: pointer;
}