<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- js import by phi S-->
    <script src="/js/jquery-3.7.1.js"></script>
    <script src="/js/utils.js" defer></script>
    <script src="/js/common.js" defer></script>
    <script src="/js/main.js" defer></script>
    <link rel="stylesheet" href="/css/style.css">
    <!-- js import by phi E-->
    <script>
        const MENU_KEY = "jungseoks_kids.menu";

        // 초기 로드: menu.json 읽어서 storage에 저장
        function initMenu() {
            $.getJSON("/storage/menu.json")
                .done(function (menuData) {
                    saveMenuToStorage(menuData);
                    console.log("menu saved");
                })
                .fail(function (xhr) {
                    console.error("menu.json load failed", xhr.status);
                });
        }

        $(() => {
            initMenu();

            //  console.log(getTopMenu());          // 대메뉴 전체
            //  console.log(getTopMenu(0));         // 대메뉴 0번째
            //  console.log(getLeftMenu(0));         // 0번 대메뉴의 중메뉴 전체
            //  console.log(getLeftMenu(0, 1));      // 0번 대메뉴의 중메뉴 1번째
            //  console.log(getSubMenu(0, 1));      // 0-1의 소메뉴 전체
            //  console.log(getSubMenu(0, 1, 2));   // 0-1의 소메뉴 2번째

            //모든 메뉴 div
            renderTopMenuUI();

            // 상단 0 선택했을때 menu div
            renderLeftMenuUI(0);
        });
    </script>
</head>

<body>
    <!-- top header phi S-->
    <div id="header">Top Header</div>
    <!-- top header phi E-->
    <div>
        <div id="menu">
            <!--left Menu phi S-->
            좌측 메뉴입니다.
            <!--left Menu phi E-->
        </div>
        <div id="content">
            <!-- contents phi S-->
            안녕!!!
            <!-- contents phi E-->
        </div>
    </div>
</body>

</html>